/* AdminDashboard.css */

.admin-dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
 
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #333;
}
