

.admin-dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: whitesmoke;
  border-color: none;
   
 
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  color: whitesmoke;
  border:none;
}

